:root{
    --yellow : #fce205;
    --red: #ed2939;
    --green: #00a86b;
  }

#stats__cases{
    background-color:var(--yellow);
  }
  
  #stats__recovered{
    background-color:var(--green);
  }
  
  #stats__deaths{
    background-color:var(--red);
  }
  